*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:monospace;
    color: darkorange;
}

.container{
    display:flex;
    width:601px;
    margin:auto;
    margin-top:10%;
    margin-bottom:10%;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color:#452de0;
    box-shadow:8px 8px black;
    color:white;
    padding:5% 0%;
}

#currDate{
    font-size:41px;
    margin:20px;
    font-weight:bold;
    color: darkorange;
}

input{
    font-size:21px;
    padding:14px;
    margin:21px;
    text-align:center;
    border-radius:11px;
    border:1px solid yellow;
    cursor:pointer;
}

button{
    font-size:21px;
    padding:11px 19px;
    border-radius:10px;
    border:none;
    background-color:#00ffc3;
    color:black;
    margin:21px;
    text-transform: uppercase;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background-color:white;
    color:blue;
}

#displayAge{
    display:flex;
    align-items:center;
    justify-content:center;
    width:621px;
    height:481px;
    background-color:rgb(228, 91, 91);
    border-radius:30px;
    position:absolute;
    top:20%;
    left:31%;
    visibility: hidden;
}

#age{
    color:white;
    font-size:51px;
    margin:21px;
    font-weight:bold;
}
